@import "./vendor/normalize.scss";
@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
    


    .jumbotron-fluid{
        color: white;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(/assets/images/AdobeStock_100635381.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    #about{
        border-radius: 0;
        padding: 8rem 0;
    }

    #donate{
        background-color: $primary;
        padding: 8rem 0;
    }
    
    #services{
        padding: 8rem 0;
    }

    #contact{
        padding: 8rem 0;
    }
    
    .btn-lg {
        text-transform: uppercase;
    }

   


       
